{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{STATIC_URL}}codemirror/lib/codemirror.css">
<script src="{STATIC_URL}}codemirror/lib/codemirror.js"></script>
<script src="{{STATIC_URL}}codemirror/mode/xml/xml.js"></script>


<table class="links previous">
<tr>
{% for link in node.previous.all %}
    <td><a href="/node/{{link.src.id}}/edit">{{link.src.title}}</a>
    <ul>
    {% for dump in link.dumps.all|slice:":5" %}
        <li class="dump {{dump.result.status|lower}}"><a href="/node/{{node.id}}/edit/focus/{{dump.id}}">{{ dump.created }} - {{dump.result.status|lower}}</a></li>
    {% endfor %}
    </ul>
    
    </td>
{% endfor %}
</tr>
</table>

{% if dump != None %}
{% include 'ticker/dump_focus.html' %}
{% endif %}
<form class="ajaxify" action="/node/{{node.id}}/edit" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

<a class="runner" href="/node/{{node.id}}/run" method="post">Run</a>

<table class="links next">
<tr>
{% for link in node.next.all %}
    <td><a href="/node/{{link.dst.id}}/edit">{{link.dst.title}}</a></td>
{% endfor %}
</tr>
</table>

{% endblock %}
